.menu-1 {
  background: #ffe9e9;
}

.menu-1 h1 {
  color: #e94848;
}

.menu-2 {
  background: #e9f4ff;
}

.menu-2 h1 {
  color: #487be9;
}

.menu-3 {
  background: #eaffe9;
}

.menu-3 h1 {
  color: #48e958;
}
